<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks your reservation!</h1>
    <p>
      You have a reservation for next <%= @reservation.requested_date %>
    </p>
  </body>
</html>
